* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.visual1{
  height: 200px;
  background-image: url(chapter6_img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.visual2{
  width: 100%;
  height: 200px;
  background-image: url(chapter6_img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.visual3{
  width: 100%;
  height: 200px;
  background-image: url(chapter6_img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.visual4{
  width: 100%;
  height: 200px;
  background-image: url(chapter6_img/box4.jpg);
  background-size: cover;
  background-position: center;
}